.list-hot{
    background: url('../styles/room.jpg') no-repeat center center;
    /* background-image: url('../../assets/images/hero-background.jpg'); */
    background-size: cover;
    padding: 50px 20px;
}

.list-hotel-container {
    /* background: url('../styles/hero-background.jpg') no-repeat center center; */
   background-color: rgb(243, 241, 241);
    background-size: cover;
    padding: 50px 20px;
    color: black ;
    opacity: 0.8;
    text-align: left;
}
.list-hotel-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #030303;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-hotel-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.list-hotel-container ul {
    list-style-type: none;
    padding: 0;
}

.list-hotel-container li {
    border-bottom: 1px solid #020202;
    padding: 10px 0;
}

.list-hotel-container li h3 {
    margin: 0;
}

.list-hotel-container li p {
    margin: 5px 0;
}
